* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
}

.box {
    width: 200px;
    height: 200px;
    background-color: #ffffff59;
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff59;
    box-shadow: 2.5px 2.5px 30px 0px rgba(230, 230, 230, 0.459);
    border-radius: 5px;
}